*.aux

*.backup

*.bak

*.bbl

*.blg

*.db

*.fdb_latexmk

*.fls

*.gz

*.log

*.nav

*.out

*.snm

*.synctex.gz

*.toc

*~

.DS_Store

*.pip

*.pyc

*build

*venv

*.egg-info

*.cache

#
# Vagrant and VirtualBox stuffs
#

*/.vagrant/

*.vdi

*/.eggs/

*/.tox/

*.swp

*.retry


